# Spotify API
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here

# PostgreSQL
POSTGRES_USER=spotify
POSTGRES_PASSWORD=spotify
POSTGRES_DB=spotify_lakehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=501
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=changeme
